xsd/deals01.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:custom="http://original.works/xml/deals01"
           targetNamespace="http://original.works/xml/deals01"
           elementFormDefault="qualified">

    <xs:element name="UserDefinedValue" type="custom:UserDefinedValueType"/>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Namespace" type="xs:anyURI"/>
                <xs:element name="Private_deal_CID" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
